Repository Constantiner/zohar: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint

feat: Add event emitter implementation and tests
  __tests__/eventEmitter.ts
  eslint.config.js
  jest.config.ts
  package-lock.json
  package.json
  src/eventEmitter.ts
  src/index.ts
  tsconfig.json
Due: npx prettier --write, npx eslint

docs: Add usage examples and comparison with Node's EventEmitter
  README.md
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

feat: Add once and awaited utilities with corresponding tests and documentation
  README.md
  __tests__/eventEmitter.ts
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

docs: Minor fixes
  README.md
Due: none

fix: Fix unsubscribeAll to clear event store
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

docs: Update the usage documentation
  README.md
Due: none

feat: Make event emitter untyped by default
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

feat: Remove unused type
  README.md
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

feat: Make the library ready to be published
  __tests__/eventEmitter.ts
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
  tsup.config.ts
Due: npx prettier --write, npx eslint

feat: Add CI support with GitHub actions
  .github/workflows/ci.yml
Due: none

feat(ci): Split CI into steps
  .github/workflows/ci.yml
Due: none

fix: Fix CI dependencies
  .github/workflows/ci.yml
Due: none

docs(changeset): Initial release
  .changeset/plenty-bees-marry.md
Due: none

Prepare for initial release
  .changeset/README.md
  .changeset/config.json
  package-lock.json
  package.json
Due: npx prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/plenty-bees-marry.md
  CHANGELOG.md
  package.json
Due: npx prettier --write

Rename library
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: npx prettier --write

docs(changeset): Rename the library from miko to zohar
  .changeset/chilled-starfishes-burn.md
Due: none

Make the package public
  package.json
Due: npx prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/chilled-starfishes-burn.md
  CHANGELOG.md
  package.json
Due: npx prettier --write

feat(ci): Upload code coverage to codecov
  .github/workflows/ci.yml
Due: none

feat(ci): Add codecov token
  .github/workflows/ci.yml
Due: none

feat(docs): Add some badges
  README.md
Due: none

docs(changeset): Ready for release
  .changeset/real-teachers-sing.md
Due: none

Add a new changeset
  .changeset/real-teachers-sing.md
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/real-teachers-sing.md
  CHANGELOG.md
  package.json
Due: npx prettier --write

docs: Add project's logo
  README.md
  zohar.jpg
Due: none

docs: Resize logo for smaller size
  zohar.jpg
Due: none

docs(changeset): Add Zohar logo
  .changeset/fuzzy-plants-eat.md
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/fuzzy-plants-eat.md
  CHANGELOG.md
  package.json
Due: npx prettier --write

feat: add subscriber and emitter helper functions
  README.md
  __tests__/eventEmitter.ts
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

test: add assertion for proper linting
  __tests__/eventEmitter.ts
Due: npx prettier --write, npx eslint

test: enhance eventEmitter tests with `once` and `awaited` helpers
  __tests__/eventEmitter.ts
Due: npx prettier --write, npx eslint

chore(changeset): Remove unnecessary whitespace and comments from six-flies-hammer.md
  .changeset/six-flies-hammer.md
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/six-flies-hammer.md
  CHANGELOG.md
  package.json
Due: npx prettier --write

Return unsubscribe from once
  __tests__/eventEmitter.ts
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

docs: clarify flexible event definitions
  README.md
Due: none

Clarify resolveEventListeners comment
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

test: ensure unsubscription after emission
  __tests__/eventEmitter.ts
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

fix: preserve listeners when unsubscribing during emit
  __tests__/eventEmitter.ts
  src/eventEmitter.ts
Due: npx prettier --write, npx eslint

Path conditions:
  npx prettier --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx}) or (any of: *.{json,lintstagedrc})
  npx eslint: any of: *.{js,jsx,cjs,mjs,ts,tsx}
